#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lgui7_7: lgui7_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI7_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp LG(N7)>;
        };

        lgui3_media: lgui3_media {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI3_MEDIA";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_3)>, <&to 1>, <&kp K_PLAY_PAUSE>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";
        label = "ninepad";

        default_layer {
            label = "Default";
            bindings = <
&lgui7_7      &kp N8        &mo 2
&kp NUMBER_4  &kp N5        &kp NUMBER_6
&kp NUMBER_1  &kp NUMBER_2  &lgui3_media
            >;
        };

        media {
            bindings = <
&kp K_PREVIOUS    &kp K_VOL_UP  &kp RS(K_NEXT)
&kp K_PLAY_PAUSE  &kp K_VOL_DN  &trans
&to 0             &hi_hello     &hi_hello
            >;
        };

        bt_layer {
            label = "bt";
            bindings = <
&bootloader   &none         &bootloader
&none         &kp A         &bt BT_CLR
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
            >;
        };
    };
};
