#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lgui7_7: lgui7_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI7_7";
            #binding-cells = <0>;
            bindings = <&kp LG(N7)>, <&kp N7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        label = "ninepad";

        default_layer {
            label = "Default";
            bindings = <
&lgui7_7      &kp N8        &mo 1
&kp NUMBER_4  &kp N5        &kp NUMBER_6
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
            >;
        };

        bt_layer {
            label = "bt";
            bindings = <
&bootloader   &none         &bootloader
&none         &kp A         &bt BT_CLR
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
            >;
        };
    };
};
