#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&bootloader {
};

&lt {
};

/ {
    behaviors {
        lgui7_7: lgui7_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI7_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp LG(N7)>;
        };

        lgui3_media: lgui3_media {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI3_MEDIA";
            #binding-cells = <0>;
            bindings = <&kp LG(N3)>, <&to 0>, <&kp K_PLAY_PAUSE>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";
        label = "ninepad";

        Boot {
            bindings = <
&none  &none        &none
&none  &bootloader  &none
&none  &tog 1       &none
            >;
        };

        layer_1 {
            label = "Layer 1";
            bindings = <
&kp MS_LEFT  &kp MS_UP    &kp MS_RIGHT
&kp LEFT    &kp W     &kp MS_BTN2
&kp A       &kp S     &kp D
            >;
        };
    };
};
